<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">

          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" 
            ngModel 
            name="email"
            email
            required
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>

        <div class="form-group">
          <label for="level">Subscription Type</label>
          <select id="level" class="form-control" [ngModel] = "defaultSubscription" name="level">
              <option *ngFor="let subscription of subscriptions" [value]="subscription">
                  {{subscription}}</option>
        </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
              ngModel
              type="password" 
              id="password" 
              class="form-control"
              #password="ngModel"
              name="password"
              required>
              <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
          </div>
        <button class="btn btn-primary" type="submit"
          [disabled]="!form.valid">Submit</button>
      </form>
    </div>l
  </div>